@model ClientManagementSystem.UI.ClientManagementServiceReference.Client


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Create New Client</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nationality, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nationality, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Occupation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Occupation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Occupation, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />

        <h5>Addresses</h5>

        @for (int i = 0; i < Model.AddressTypes.Count(); i++)
        {
            @Html.HiddenFor(m => m.Addresses[i].AddressTypeId)
            <div class="form-group">
                @Html.Label(Model.AddressTypes[i].TypeName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Addresses[i].AddressDetail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Addresses[i].AddressDetail, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        <br />
        
        @{ 
            var contactTypes = (List<ClientManagementSystem.UI.ClientManagementServiceReference.ContactType>)ViewBag.ContactTypes;
        }
        <h5>Contact Information</h5>

        @for (int i = 0; i < Model.ContactInfos.Count; i++)
        {
            @Html.HiddenFor(m => m.ContactInfos[i].ContactTypeId)
            var contactType = contactTypes.FirstOrDefault(ct => ct.ContactTypeId == Model.ContactInfos[i].ContactTypeId);
            <div class="form-group">
                <div class="col-md-10">
                    @Html.LabelFor(m => m.ContactInfos[i].ContactDetail, contactType.TypeName, new { @class = "control-label col-md-2" })
                    @Html.EditorFor(m => m.ContactInfos[i].ContactDetail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.ContactInfos[i].ContactDetail, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
